.user-div-icon{
    color: black;
    font-size: 60px;
    
}
.in-paswd{
    outline:none;
    border: none;
    background-color: transparent;
}
.in-user{
    
    outline:none;
    border: none;
    background-color: transparent;
}
.label-holder{
    height: 40px;
    padding: 6px;
    padding-right: 8px;
    border-radius: 6px;
    border: 2px solid rgb(119, 119, 119);
    background-color: rgba(223, 222, 222, 0.718);
}
.label-holder-edit{
    height: 40px;
    padding: 6px;
    padding-right: 8px;
    border-radius: 6px;
   border: 2px solid black;
}
.label-holder-edit:focus-within{
    border: 2px solid blue;
}

.label-holder:disabled{
    border: 2px solid rgb(14, 172, 0);
    background-color: rgb(199, 196, 196);
}
.profile-icon-div{
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.profile-header{
    margin-top: 20px;
}
.profile-details-div{
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.btn-div{
    display: flex;
    align-content: center;
    justify-content: center;

}
.u-edit{
    margin-left: -10px;
    margin-top: 20px;
}
.u-update{
    margin-left: -10px;
    margin-top: 20px;
}
.u-cancel{
    margin-left: 20px;
    margin-top: 20px;
}