@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#page-no{
  
  margin-left: 5px;
  margin-right: 5px;
  height: 35px;
  width: 35px;
  background-color: #66347F;
  color: #ddd;
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 border-radius: 5px;
  z-index: 10px;
}
.logo{
  color: #fff;
  margin-top: 15px;
  margin-left: 170px;
  margin-right: 120px;
  
  
}
.searchBox{
  height: 40px;
  width: 40%;
  margin-top: 18px;
  background-color: #674778;
  color: black;
  border: 1px solid rgb(239, 201, 244);
  padding: 10px;
  
}
.searchIcon{
  height: 40px;
  width: 40px;
  margin-left: 0px;
  margin-top: 18px;
  
  
  

}
#searchIconID{
  background-color: transparent;
  border: 1px solid rgb(239, 201, 244);
  outline: none;
  justify-content: center;
  display: flex;
  border-radius: 0px;
  border-left: none;
}
.endpoint-header-list{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;

}
.search-bar-div{
  background-color: #66347F;
width: 100%;
height: 80px;
left: 55px;
display:flex;
flex-direction: row;

position: fixed;
top: 0;
transition: 850ms;
z-index: 100px;
}
#add-Status{
  float:right;
  margin-top: -60px;
  margin-right: 90px;

}
#add-endpoint{
  float: right;
  
  margin-top: -23px;
  margin-right: 110px;
  margin-bottom: 13px;
  


}
.pagination{
  display:flex;
justify-content: center;
padding: 10px;
margin-left: 100px;


}
.swagger-wrap{
  z-index: 0px;
  margin-top: 100px;
}
.status-header{
  text-align: center;
  margin-top: 40px;
}
.endpoint-header{
  
  text-align: center;
  margin-top: -45px;
}
button.backButton{
  border: none;
  outline: none;

  background: transparent;
  margin-top: 30px;
  z-index: 10px;
  margin-left: 80px;
  
}
.btn-success {
  margin-left: 100px;
}
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding: 13px;
  align-items: center;
  z-index: 10;
}
.popup-element{
  display:inline-flex;
  flex-direction: column; 
  align-items: flex-start;
}
.popup-footer{
  margin-top: 20px;
  align-content: center;
  
}
/* button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 300px;
} */

input {
  width: 300px;
}

.titleCloseBtn{
  position: relative;
}
#close-btn:hover{
  background-color: #e3e5e6;
  
}
#close-btn {
  position: absolute;
  top: -20px;
  right: -30px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: none;
  color:rgb(11, 12, 11);
  font-size: 15px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}
.popup-footer .btn.btn-primary{
  margin-right: 10px;
  margin-left: 40px;
  width: 90px;
  }
  .popup-footer .btn.btn-danger{
    width: 90px;
  }
.popup-content {
  background-color: white;
  padding-top: 30px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 45px;
  height: auto;
  width: auto;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.popup-content h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center
}


.endpoint-list-links a,button {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  /* border: 1px solid black; */
  padding: 2px;
  margin-bottom: 2px;
  /* display: block; 
  width: 100%;  */
  color: black;
  
}


.endpoint-link h6,a{
  display: inline;
  margin-left: 5px;
  font-weight: bold;
}

.endpoint-link a{
  text-decoration: none;
}
.endpoint-list-links{
  border-bottom: 2px solid black;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 10px;
  padding-top: 13px;
  align-items: center;
  font-weight: bold;
  background-color: #2BBF50;
  height: 50px;
  border-radius: 30px;
 
}
.endpoint-method {
  border: 1px solid rgb(61, 42, 208);
  height: 19px;
  width: 58px;
  background-color: rgba(78, 124, 243, 0.791);
  margin-right:20px ;
  margin-left: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  font-weight: bold;
}

.endpoints {
  font-size: small;
  text-align: left;
  display: block;
  padding: 10px;
  border: 0px solid black;
  margin: 10px 0;
  text-decoration: none;
  color: black;
}

.info-button {
  float: right;
  outline:none;
  border: none;
  background: transparent;
  text-decoration: none;
  margin-top: -3px;
  margin-right: 20px;
}

.copy-btn2 {
  position:relative;
  /* outline: none;
  background: none; */
  margin-top: 7px;
  margin-bottom: 0px;
  float: right;
  bottom: 0px;
  border: none;
  background: transparent;
}

.copy-btn-div {
  bottom: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 600px;
  overflow:hidden 
}
.copy-btn-div:hover{
  overflow: auto;
}
.copy-btn2:hover{
  background-color: #2BBF50;
  background: #333;
 border-radius: 5px;
}

.edit-btn-div{
  border: none;
  outline: none;
  background: transparent;
  margin-top: 0px;
}

button.edit-btn2{
  border: none;
  outline: none;

  background: transparent;
  /* size: 10px 20px; */
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 0px;
}

button.delete-btn2:hover{
  border: black solid 1px;
}
button.edit-btn2:hover{
  border: black solid 1px;
}
button.delete-btn2 {
  outline: none;
  border: none;
  background: transparent;
  margin-top: 0px;
  margin-left: 12px;
  justify-content: center;
}

.delete-btn-div {
  border: none;
  outline: none;
  background: transparent;
  height: 10px;
  width: 10px;
  margin-right: 15px;
  
  
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.table {
  margin: 0px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #fff;
  margin-left: 60px;
}
.table th {
  font-size: 13px;
}
.table td {
  font-size: 11px;
  margin: 5px;
}


.table thead th {
  background-color: #343a40;
  color: #fff;
  font-weight: bold;
}


.table tbody td,
.table thead th {
  border: 2px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #d9edf7;
}

.btn {
  background-color: #28a745;
  color: #fff;
  border-color: #28a745;
}

.btn:hover {
  background-color: #218838;
  color: #fff;
  border-color: #1e7e34;
}
.table .btn-group {
  margin: 2px;
  display: inline-block;
}


/* .table-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.table-container .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.table-container .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.table-container .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#closeBtn {
  background-color: crimson;
} */
.table-responsive {
  
  margin: 30px;
}
